.Card__user-img {
  height: 400px;
  align-self: center;
}

.Card__name {
  font-size: 2rem;
  font-weight: 600;
  margin: 20px 10px;
}

.Card__bio {
  margin: 20px 10px;
  height: 100px;
  font-size: 1rem;
  color: #757575;
}
.cards_container {
  background-color: rgb(238, 245, 245);
  opacity: 100%;
}
span {
  background-color: rgb(238, 245, 245);
}
