.container {
  width: 100%;
  height: calc(100vh - 10px);
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  position: relative;
}

.flex-container {
  flex-grow: 7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Profile {
  display: inline-block;
  width: 90vw;
  max-width: 400px;
  background: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  /* overflow: hidden; */
  /* position: absolute; */
  box-shadow: 0 2px 10px 0 rgba(117, 117, 117, 0.77);
}

.Profile__Form__user-inputs {
  display: flex;
  flex-direction: column;
}

.Profile__Form__user-input__image {
  align-self: center;
  width: 150px;
  /* margin-top: 10px; */
}

.Profile__Form__user-inputs__name {
  border: none;
  font-size: 2rem;
  font-weight: 600;
  /* margin: 20px 10px; */
  justify-content: center;
}

.Profile__Form__user-inputs__name:hover {
  cursor: pointer;
}

.Profile__Form__user-inputs__name:focus {
  cursor: text;
}

.Profile__Form__user-labels__bio {
  margin-left: 10px;
}

.Profile__Form__user-inputs__bio {
  margin: 10px 10px;
  height: 80px;
  font-size: 1rem;
  border: none;
  color: #757575;
  resize: none;
  padding: 2px 2px;
}
.input-form {
  margin: 5px 5px;
  height: 80px;
  font-size: 1rem;
  border: none;
  color: #4e4d4d;

  resize: none;
  padding: 2px 2px;
}
.input-title {
  margin: 5px 5px;
  height: 20px;
  font-size: 1rem;
  border: none;
  color: #757575;
  resize: none;
  padding: 2px 2px;
}
.Profile__Form__user-inputs__bio:hover {
  cursor: pointer;
}

.Profile__Form__user-inputs__bio:focus {
  cursor: text;
}

.Profile__Form__button-container {
  display: flex;
  justify-content: center;
}

.Profile__Form__submit-button {
  margin: 8px 0;
}

.update-text {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  color: green;
  top: 10px;
}

.button-submit {
  width: auto;
  padding: 5px 5px;
  margin-top: 20px;
  border-radius: 10px;
}

.Profile__Form_user-image {
  position: relative;
  left: 50%;
  margin-left: -200px;
  height: 400px;
  width: 405px;
}

.Profile__Form__user-input__image__container {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
